#ROS build artifacts
build/
install/
log/
devel/
.coverage
htmlcov/

*.log
*.bag
*.bag.active
*.bag.orig
*.db3
*.sqlite3

__pycache__/
.pytest_cache/
*.pyc
.venv/
venv/

.vscode/
.DS_Store

*.pem
*.key
*.env
.env
